body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    border: white;
}

.game-container {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 20px;
    max-width: 600px;
    text-align: center;
}

#title {
    font-size: 40px;
    text-align: center;
}

.img {
    height: 100px;
}

.button {
    background-color: transparent;
    border: 3px solid white;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

.choices-container {
    text-align: center;
}

#result {
    text-align: center;
    margin-bottom: 30px;
}

#moves {
    text-align: center;
    min-height: 105px;
}

#score {
    margin-top: 60px;
}

#scoreboard {
    width: 400px;
    margin: 35px auto;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: none;
}

.score-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.label {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.value {
    font-size: 18px;
    color: white;
}

.reset-button {
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.reset-btn-container {
    text-align: center;
}
